<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="mobile-nav"
     class="fixed bottom-0 left-1/2 -translate-x-1/2 w-full max-w-md bg-white rounded-t-3xl shadow-[0_-5px_15px_rgba(0,0,0,0.05)] px-6 py-3 z-50">
    <ul class="flex justify-between items-center text-gray-400">

        <li class="flex flex-col items-center">
            <a th:href="@{/}"
               th:class="${currentUri == '/' ? 'text-[#4A148C]' : 'text-gray-400'} + ' flex flex-col items-center justify-center transition-colors'">
                <i class="fas fa-home text-xl mb-1"></i>
            </a>
        </li>

        <li class="flex flex-col items-center">
            <a th:href="@{/wallets}"
               th:class="${currentUri.startsWith('/wallets') ? 'text-[#4A148C]' : 'text-gray-400'} + ' flex flex-col items-center hover:text-[#4A148C] transition-colors'">
                <i class="fas fa-wallet text-xl mb-1"></i>
            </a>
        </li>

        <li class="relative -top-5">
            <a th:href="@{/}" class="bg-black text-white rounded-full w-14 h-14 flex items-center justify-center shadow-lg cursor-pointer hover:scale-105 transition-transform">
                <i class="fas fa-qrcode text-2xl"></i>
            </a>
        </li>

        <li class="flex flex-col items-center">
            <a th:href="@{/cards}"
               th:class="${currentUri.startsWith('/cards') ? 'text-[#4A148C]' : 'text-gray-400'} + ' flex flex-col items-center hover:text-[#4A148C] transition-colors'">
                <i class="fas fa-credit-card text-xl mb-1"></i>
            </a>
        </li>

        <li class="flex flex-col items-center">
            <a th:href="@{/profile}"
               th:class="${currentUri.startsWith('user/profile') ? 'text-[#4A148C]' : 'text-gray-400'} + ' flex flex-col items-center justify-center transition-colors'">
                <i class="fas fa-user text-xl mb-1"></i>
            </a>
        </li>
    </ul>
</div>
</body>
</html>