<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Wallet</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <a th:if="${currentUser != null and currentUser.role?.name() == 'ADMIN'}"
       th:href="@{/admin/users}"
       class="flex flex-col items-center justify-center w-full group">
        <div class="w-10 h-10 rounded-full flex items-center justify-center transition-all duration-200 group-hover:bg-purple-50 group-hover:text-[#4A148C] text-gray-400">
            <i class="fas fa-shield-halved text-xl"></i>
        </div>
    </a>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#4A148C',
                        secondary: '#7B1FA2'
                    }
                }
            }
        }
    </script>
</head>
<body class="bg-gray-100 text-gray-900 font-sans antialiased min-h-screen">

<main layout:fragment="content" class="max-w-md mx-auto bg-gray-50 min-h-screen p-4 shadow-xl pb-24">
</main>

<div th:replace="~{fragments/bottom-nav :: mobile-nav}"></div>

</body>
</html>